.container {
    margin: auto;
    width: 50%;
    padding: 20px;
    display:flex;
    align-items: center;
    justify-content: center;

}

img {
    height: 150px;
    width: 275px;
}

.submitButtons {
    display:flex;
    align-items: center;
    justify-content: center;
}


.nav-link {

  color: white;

}

.card {

  /*background-image: url("https://images.pexels.com/photos/326311/pexels-photo-326311.jpeg?auto=compress&cs=tinysrgb&h=350");*/
  background-image: url("https://images.pexels.com/photos/303383/pexels-photo-303383.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");

}


body {

  background-image: url("https://images.pexels.com/photos/303383/pexels-photo-303383.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  overflow: hidden;
  background-size: cover;
  width: 100%;
  min-height: 100vh;

}

img {

  filter:brightness(200%);

}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /*background-color: black;*/
  color: white;
  text-align: center;
}
