label {
    display: inline-block;
    text-align: left;
    padding: 10px;
  }

  input {
    display: inline-block;
    text-align: left;
    width:300px;
  }

  select {
    display: inline-block;
    text-align: right;
    width:300px;
  }

  .container {
    margin: auto;
    padding: 10px;
}
.header {
  background-color: lightblue;
}
td {
  width: auto;
}
.table {
  border: 1px solid #dddddd;
}
.dataTable td {
  border: 1px solid #dddddd;
}

.addButton {
  background-color: lightgreen;
  float: right;
}
.saveButton {
  background-color: lightgreen;
  float: left;
}
.productivity {
  background-color: green;
  float: right;
}