label {
  display: inline-block;
  text-align: left;
  padding: 10px;
}

input {
  display: inline-block;
  text-align: left;
  width:300px;
}

select {
  display: inline-block;
  text-align: right;
  width:300px;
}

.container {
  margin: auto;
  padding: 10px;
}
.header {
  background-color: dodgerblue;
  align-items: center;
  color: white;
}

img {
  filter:brightness(200%);
}

td {
  width: auto;
}
.table {
  border: 1px solid #dddddd;
}
.dataTable td {
  border: 1px solid #dddddd;
}

.addButton {
  background-color: lightgreen;
  float: right;
}
.saveButton {
  background-color: lightgreen;
  float: left;
}
.productivity {
  background-color: green;
  float: right;
}

.btn-success {
  float: right;
}

.container {
  background-size: cover  ;
}

label:before {
     content:"*" ;
     color:red
}

 body {
  overflow: hidden;
  background-size: cover;
  width: 100%;
  min-height: 200vh;
  background-color: black;
  height: 100%;
  box-sizing: border-box;
} 

h5 {
  color: white;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}