* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Arial, serif;
}

label {
  display: inline-block;
  text-align: left;
  padding: 10px;
}

body {
  background-color: black;
  overflow: hidden;
  background-size: cover;
  width: 100%;
  min-height: 200vh;
  height: auto;
  box-sizing: border-box;
}

.container {
  margin: auto;
  padding: 10px;
}

img {
  filter:brightness(200%);
}

a:link {
    text-decoration: none;
}


.header {
  background-color: dodgerblue;
  align-items: center;
  color: white;
}

td {
  width: auto;
}

.table {
  border: 1px solid #dddddd;
}

.dataTable td {
  border: 1px solid #dddddd;
  background-color: transparent;
  margin:0 auto;
  width: 100%;
}

.card {
  margin:0 auto;
}


Button {
  background-color: darkblue;
  color:white;
  float: right;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}