* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Arial, serif;
}

label {
  display: inline-block;
  text-align: left;
  padding: 10px;
}

body {
  background-color: black;
  overflow: hidden;
  background-size: cover;
  width: 100%;
  min-height: 200vh;
  height: auto;
  box-sizing: border-box;
}


img {
  filter:brightness(200%);
}

input {
  display: inline-block;
  text-align: left;
  width:300px;
}

a:link {
    text-decoration: none;
}

select {
  display: inline-block;
  text-align: right;
  width:300px;
}

.tableHeader {
  background-color:rgb(54, 109, 211);
  color: white;
}

.table {
  border: 3px solid darkgray;
  padding-right: 50px;
  padding-left: 50px;
}

.dataTable td {
  border: 1px solid #dddddd;
  background-color: transparent;
  padding-right: 50px;
  padding-left: 50px;
  width: 100%;
}


Button {
  background-color: darkblue;
  color:white;
  float: right;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}