<div class="container"> 
    <div class="col-md-6"> 
        <h1>Login </h1> 
        <form #form="ngForm"> 
            <div class="form-group"> 
                <label for="email">Email address:&nbsp;&nbsp;&nbsp;&nbsp;</label> 
                <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email"> 
            </div> 

            <br>

            <div class="form-group"> 
                <label for="pwd">Password:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label> 
                <input type="password" class="form-control" id="pwd" name="passowrd" [(ngModel)]="password"> 
            </div> 

            <br>

            <button class="button" (click)="login()"><a href="" [routerLink]="['/form']" class="nav-link">Login</a></button>
        </form> 
    </div> 
</div> 
