<!-- <div class="container">

    <h1 class="form-signin-heading">Sign in</h1>

    <form (submit)="login()">
        <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" name="email" placeholder="Enter email" [(ngModel)]="credentials.email">
        </div>
        <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="credentials.password">
        </div>
        <button type="submit" class="btn btn-default">Sign in!</button>
    </form>
</div> -->

<div class="container"> 
    <div class="col-md-6"> 
        <h1>Login </h1> 
        <form #form="ngForm"> 
            <div class="form-group"> 
                <label for="email">Email address:</label> 
                <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email"> 
            </div> 
            <div class="form-group"> 
                <label for="pwd">Password:</label> 
                <input type="password" class="form-control" id="pwd" name="passowrd" [(ngModel)]="password"> 
            </div> 
            <!-- <button class="btn btn-default" (click)="login()">Login</button> -->
            <button class="button" (click)="login()"><a href="" [routerLink]="['/form']" class="nav-link">Login</a></button>
        </form> 
    </div> 
</div> 
<!-- <button type="button "class="btn btn-default" routerLink="/events">Cancel</button> -->
