img {
    height: 100px;
    width: 250px;
}

label {
    display: inline-block;
    text-align: left;
    padding: 10px;
  }

  input {
    display: inline-block;
    text-align: left;
    width:300px;
  }

  select {
    display: inline-block;
    text-align: right;
    width:300px;
  }

