img {
    height: 150px;
    width: 275px;
}

label {
    display: inline-block;
    text-align: left;
    padding: 10px;
  }

  input {
    display: inline-block;
    text-align: left;
    width:300px;
  }

  select {
    display: inline-block;
    text-align: right;
    width:300px;
  }

  .container {
    margin: auto;
    width: 50%;
    padding: 10px;
}