<div class="container">
    <img src="assets/images/kss-logo.png">

    <form #form="ngForm" (ngSubmit)="onSubmit()">
            
            <!-- <div class="form-group">
                    <table>
                        <td> <label>Date &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label> </td>
                        <td> <material-datepicker [(date)]="yourModelDate"></material-datepicker> </td>
                    </table>
            </div> 
         -->

        <!-- <div class="form-group">
            <table>
                <td> <label>Region&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label> </td>
                <td>
                    <select class="form-control">
                        <option *ngFor="let region of regions">
                            {{ region }}
                        </option>
                    </select>
                </td>
            </table>
        </div> -->

        <!-- <div class="form-group">
            <table>
                <td> <label>Plants&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label> </td>
                 <td>
                     <select class="form-control">
                        <option *ngFor="let plant of plants">
                            {{ plant }}
                        </option>
                     </select>
                </td>
            </table>
        </div> -->
<!-- 
        <div class="form-group">
           <table>
                <td> <label>Product Types&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label> </td>
                <td>
                    <select class="form-control">
                        <option *ngFor="let type of productTypes">
                            {{ type }}
                        </option>
                    </select>
                </td> 
            </table>
        </div> -->

        <h3><b>Safety</b></h3>
        <div class="form-group">
            <table>
                <td><label>Lost Time Incidents&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label> </td>
                <td><input type="text" class="form-control" required name="lostTimeIncidents" ngModel> </td>
            </table>
        </div>
        <div class="form-group">
            <table>
                    <td> <label>Employee Hours&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label> </td>
                    <td> <input type="text" class="form-control inputSize" required name="employeeHours" ngModel> </td>
            </table>
        </div>
        <div class="form-group">
            <table>
                <td> <label>Lost TIme&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label> </td>
                <td> <input type="text" class="form-control" required name="lostTIme" ngModel> </td>
            </table>
        </div>
            
        <h3><b>Quality</b></h3>
        <div class="form-group">
            <table>
                <td> <label>Customer Okm PPM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label> </td>
                <td> <input type="text" class="form-control" required name="customerppm" ngModel> </td>
            </table>   
        </div>
        <div class="form-group">
            <table>
                <td> <label>Scrap&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label> </td>
                <td> <input type="text" class="form-control" required name="scrap" ngModel> </td>
            </table>
        </div>
        <div class="form-group">
            <table>
                <td> <label>NHB&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label> </td>
                <td> <input type="text" class="form-control" required name="nhb" ngModel> </td>
            </table>
        </div>

        <h3><b>Delivery</b></h3>
        <div class="form-group">
            <table>
                <td> <label>On-Time Delivery&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label> </td>
                <td> <input type="text" class="form-control" required name="onTimeDelivery" ngModel> </td>
            </table>  
        </div>
        <div class="form-group">
        <table>
            <td> <label>Premium Frieght&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label> </td>
            <td> <input type="text" class="form-control" required name="PremiumFrieght" ngModel> </td>
        </table>
        </div>
      
        <h3><b>Cost</b></h3>
        <div class="form-group">
        <table>
                <td> <label>Mfg Cost&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label> </td>
                <td> <input type="text" class="form-control" required name="mfgCost" ngModel> </td>
            </table>
        </div>
        <div class="form-group">
            <table>
                <td> <label>Overtime&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label> </td>
                <td> <input type="text" class="form-control" required name="overtime" ngModel> </td>
            </table>
        </div>

        <button class="button" type="submit">Ok</button>
        <button class="button" type="submit">Cancel</button>
    </form>
</div>

